<h1>Edit profile</h1>


<div>
    <h5>Edit profile User name is {{ user.name}}</h5>
    <h5>Edit profile User id is {{ user.id}}</h5>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <label for="">User id</label>
            <input type="text"  class="form-control" >
        </div>

        <div class="col-md-12">
            <label for="">User name</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>